# Render Deployed Python FastAPI Backend Link
PYTHON_BACKEND_URL="https://vinyl-wraper-1.onrender.com"
VITE_API_TARGET="https://vinyl-wraper-1.onrender.com"
BACKEND_URL="https://vinyl-wraper-1.onrender.com"
